.RowStyle {
  align-items: start;
  justify-content: start;
  column-gap: 30px;
}

.main-page-container {
  padding-top: 12px;
}

/**

.CardStyle{
  margin-bottom: 25px;
  width: 400px;
  height: 450px;
  /**
  Cardstyle in mainpage.css
    margin-bottom: 25px;
width: 400px;
height: 450px;


  
}
*/

/**
  

      max-height: 250px;
  max-width: 250px;
  object-fit: cover;
   
  width: 100%;
  height: 15vw;
  object-fit: cover; 


    width: 100%;
  height: 70%;
  object-fit: cover; 
    */
